*{margin:0;padding:0}

/*top-div脱离文档流 宽度百分百*/
#top{ width: 100%; position: absolute; z-index: 999999;}
#bodytitle{position: absolute; left: 30%;  top: 20%; z-index: 999999;}

/*top-logo定位*/
#top-logo{position: fixed; left:150px;margin-top: 30px;}

/*top-p 我已有支付宝账户 快速登录 靠右*/
#top-p-login{float: right; margin-right: 150px;margin-top: 30px;}
#top p {color: #999999; font-size: 14px;}
#top p a{color: white; font-size: 14px;}
#top p a:hover{color: #1E9FFF;}

#bodytitle ul{margin-top: 50px;}

#bodytitle ul li span p{display: inline; color: whitesmoke; margin-left: 10px; font-size: 16px;line-height: 50px;}
#bodytitle ul li span{margin-left: 16px;}
#bodytitle ul li{float: left; width: 170px; height: 50px;
cursor:pointer;/*鼠标指针样式*/
 background-color: #01AAED;
 margin-left: 15px;margin-right: 15px;
 border-radius: 8px;
	transition: background-color 0.4s;
}
#bodytitle ul li:hover{
	 background-color:deepskyblue;
	 transition: background-color 0.4s;
}
#foot{ text-align:center; width: 100%; height: 65px; position: fixed;bottom:0%; z-index: 999999;background-color:#F8F8F8}
#foot ul{display: inline-block;}
#foot ul li{float: left;margin-left: 5px; margin-top: 5px;}
#foot ul li a{font-size: 13px; color: #4E5465;}
#hu{font-size: 13px; color: #4E5465;}
#foot ul li a:hover{ color: deepskyblue;}
#foot p{font-size: 13px;}

#f1{width: 35px; height: 20px; background-image: url(../../img/indexImgs/icons.png);
	background-position-x: 0px;
	background-position-y: -13px;
}

#f2{width: 35px; height: 20px; background-image: url(../../img/indexImgs/icons.png);
	background-position-x: -35px;
	background-position-y: -13px;
}

#f3{width: 35px; height: 20px; background-image: url(../../img/indexImgs/icons.png);
	background-position-x: -70px;
	background-position-y: -13px;
}

#f4{width: 28px; height: 20px; background-image: url(../../img/indexImgs/icons.png);
	background-position-x: -110px;
	background-position-y: -13px;
}

#f5{width: 35px; height: 20px; background-image: url(../../img/indexImgs/icons.png);
	background-position-x: -130px;
	background-position-y: -13px;
}

#f1:hover{
	background-position-y: -37px;
}
#f2:hover{
	background-position-y: -37px;
}
#f3:hover{
	background-position-y: -37px;
}
#f4:hover{
	background-position-y: -37px;
}
#f5:hover{
	background-position-y: -37px;
}

